<md-dialog class="pp-dialog add-resources-dialog single" aria-label="Create Tasting Event">
    <div class="pp-card-toolbar">
        <div class="pp-card-tools" layout="row" layout-align="space-between center">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Create tasting event</span>
                </md-card-header-text>
            </md-card-header>
            <md-button ng-click="cancel()" class="md-icon-button md-secondary pp-card-close">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
        <md-divider></md-divider>
    </div>
    <md-dialog-content>
        <md-tabs class="add-resources-tabs" md-selected="selectedIndex" md-center-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Tasting Info" ng-disabled="typeSelected">
                <md-content style="min-height: 400px;">
                    <form id="addTastingForm" class="add-tasting-form" ng-submit="next(addTastingForm)" name="addTastingForm" novalidate>
                        <div class="content" layout-fill>
                            <div class="content-left">
                                <div class="results">
                                    <!-- Event Name -->
                                    <md-input-container class="md-block pp-margin-y">
                                        <label>Event Name</label>
                                        <input class="md-primary" type="text" name="title" ng-model="addTastingFormData.title" autofocus required />
                                        <div ng-if="(addTastingForm.title.$dirty && addTastingForm.title.$invalid) || addTastingForm.$submitted" ng-messages="addTastingForm.title.$error">
                                            <div ng-message="required">Event Name required.</div>
                                        </div>
                                    </md-input-container>
                                    <!-- Description -->
                                    <md-input-container class="md-block pp-margin-y">
                                        <label>Description</label>
                                        <input class="md-primary" type="text" name="description" ng-model="addTastingFormData.description" autofocus required />
                                        <div ng-if="(addTastingForm.description.$dirty && addTastingForm.description.$invalid) || addTastingForm.$submitted" ng-messages="addTastingForm.description.$error">
                                            <div ng-message="required">Description required.</div>
                                        </div>
                                    </md-input-container>
                                    <!-- Business Venue -->
                                    <md-autocomplete
                                        flex
                                        required
                                        md-input-name="businessVenue"
                                        md-delay="500"
                                        md-no-cache="true"
                                        md-require-match="true"
                                        md-select-on-match="true"
                                        md-selected-item="addTastingFormData.businessVenue"
                                        md-search-text="addTastingFormData.searchText"
                                        md-search-text-change="searchTextChange(addTastingFormData.searchText)"
                                        md-items="item in querySearch(addTastingFormData.searchText)"
                                        md-item-text="item.companyName + ' (' + item.formattedAddress + ')'"
                                        md-floating-label="Tasting Venue"
                                        >
                                        <md-item-template>
                                            <div class="auto-item">
                                                <img class="auto-avatar-img" ng-src="{{item.image}}">
                                                <div class="auto-meta">
                                                    <div class="auto-cell">
                                                        <span class="auto-name" md-highlight-text="addTastingFormData.searchText"> {{item.companyName}} ({{item.formattedAddress}})</span>
                                                        <br><span class="auto-address">{{item.formattedAddress}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-item-template>
                                        <md-not-found>
                                            No business matching "{{addTastingFormData.searchText}}" were found.
                                        </md-not-found>
                                        <div ng-messages="addTastingForm.businessVenue.$error" ng-if="addTastingForm.businessVenue.$touched">
                                            <div ng-message="required,select">You <b>must</b> select a venue for the tasting.</div>
                                        </div>
                                    </md-autocomplete>
                                    <datetime-range
                                        starts-at="addTastingFormData.startTime"
                                        ends-at="addTastingFormData.endTime">
                                    </datetime-range>
                                </div>
                            </div>
                        </div>
                    </form>
                </md-content>
            </md-tab>
            <md-tab id="tab2" label="Select Type" ng-disabled="!typeSelected">
                <md-content style="min-height: 400px;">
                    <form id="tastingTypeForm" class="tasting-type-form" ng-submit="next1(tastingTypeForm)" name="tastingTypeForm" novalidate>
                        <div class="content" layout-fill>
                            <div class="content-left">
                                <div class="results">
                                    <p>Select the type of tasting event.</p>
                                    <md-radio-group layout="column" ng-model="addTastingFormData.tastingType" required>
                                        <md-radio-button value="ADMINS" class="md-primary">Private Tastings.</md-radio-button>
                                        <md-input-container class="md-block pp-margin-y">
                                            <div ng-if="addTastingFormData.tastingType === 'ADMINS' || addTastingFormData.tastingType === 'MANAGERS' || addTastingFormData.tastingType === 'STAFF'">
                                                <md-radio-group layout="privateTastingFor" ng-model="addTastingFormData.tastingType"  required>
                                                    <md-radio-button value="MANAGERS" class="md-primary">Managers.</md-radio-button>
                                                    <md-radio-button value="STAFF" class="md-primary">Staff Tastings.</md-radio-button>
                                                    <md-radio-button value="ADMINS" class="md-primary">Both.</md-radio-button>
                                                </md-radio-group>
                                            </div>
                                        </md-input-container>
                                        <md-radio-button value="PUBLIC" class="md-primary">Public Tastings.</md-radio-button>
                                    </md-radio-group>
                                    <div ng-if="addTastingFormData.tastingType === 'PUBLIC'">
                                        <p>
                                            <strong>Attendee Level:</strong>
                                        </p>
                                        <!-- Attendee Level -->
                                        <md-input-container class="md-block pp-margin-y">
                                            <md-select name="level" ng-model="addTastingFormData.level" placeholder="Attendee Level" required>
                                                <md-option ng-repeat="level in levels track by $index" value="{{level.level}}">{{level.level}} - {{level.description}}</md-option>
                                            </md-select>
                                            <div ng-if="(tastingTypeForm.level.$dirty && tastingTypeForm.level.$invalid) || tastingTypeForm.$submitted" ng-messages="tastingTypeForm.level.$error">
                                                <div ng-message="required">Attendee level selection is required.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </md-content>
            </md-tab>
            <md-tab id="tab3" label="Capacity" ng-disabled="!capacitySelected">
                <md-content style="min-height: 400px;">
                    <form id="tastingCapacityForm" class="tasting-type-form" ng-submit="submit(tastingCapacityForm)" name="tastingCapacityForm" novalidate>
                        <div class="content" layout-fill>
                            <div class="content-left">
                                <div class="results">
                                    <!-- Capacity -->
                                    <md-input-container class="md-block pp-margin-y">
                                        <label>Maximum Capacity</label>
                                        <input type="number" name="capacity" ng-model="capacity"
                                        min="1" required>
                                        <div ng-if="(tastingCapacityForm.capacity.$dirty && tastingCapacityForm.capacity.$invalid) || tastingCapacityForm.$submitted" ng-messages="tastingCapacityForm.capacity.$error">
                                            <div ng-message="required">Maximum capacity is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </form>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <div layout="row" layout-align="end center" ng-if="selectedIndex === 0">
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" type="submit" form="addTastingForm" ng-disabled="addTastingForm.$invalid">Next</md-button>
        </div>
        <div layout="row" layout-align="end center" ng-if="selectedIndex === 1">
            <md-button ng-click="back()">Back</md-button>
            <md-button class="md-primary md-raised" type="submit" form="tastingTypeForm" ng-disabled="tastingTypeForm.$invalid">Next</md-button>
        </div>
        <div layout="row" layout-align="end center" ng-if="selectedIndex === 2">
            <md-button ng-click="back()">Back</md-button>
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" type="submit" form="tastingCapacityForm">Finish</md-button>
        </div>
    </md-dialog-actions>
</md-dialog>
