<md-dialog class="pp-dialog" aria-label="{{ title }}">
    <div class="pp-card-toolbar">
        <div class="pp-card-tools" layout="row" layout-align="space-between center">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{ title }}</span>
                </md-card-header-text>
            </md-card-header>
            <md-button ng-click="cancel()" class="md-icon-button md-secondary pp-card-close">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
        <md-divider></md-divider>
    </div>
    <md-dialog-content>
        <div ngf-select ngf-drop ng-model="files" ngf-model-invalid="invalidFiles"
        ng-model-options="{debounce:100}"
        ngf-multiple="false" ngf-pattern="'image/*'" ngf-accept="'image/*'"
        ngf-capture="'camera'"
        ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/*'}"
        ngf-validate="{size: {max: '20MB', min: '10B'}, height: {min: 300, max: 5000}, width: {min: 300, max: 5000}}"
        ngf-resize="{width: 300, height: 300, type: 'image/png', quality: .8, restoreExif: false}"
        ngf-resize-if="$width > 300 || $height > 300"
        ngf-keep="false"
        ngf-max-files="1"
        ngf-change="upload($files)"
        ngf-fix-orientation="true"
        ngf-allow-dir="false" class="drop-box md-button" ngf-drop-available="dropAvailable">
            Select Image (Min 300x300, Max 5000x5000)<span class="pp-bold" ng-show="dropAvailable">or Drag &amp; Drop Image Here</span>
        </div>
        <md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>
        <div class="validation-messages" style="margin:0;" ng-if="invalidFiles || errorMsg">
            <div>{{errorMsg}}</div>
            <div ng-repeat="f in invalidFiles">
                <div ng-if="f.$errorMessages.minHeight">Image must have a height of at least 300px</div>
                <div ng-if="f.$errorMessages.minWidth">Image must have a width of at least 300px</div>
                <div ng-if="f.$errorMessages.maxHeight">Image cannot have a height over 5000px</div>
                <div ng-if="f.$errorMessages.maxWidth">Image cannot have a width over 6000px</div>
                <div ng-if="f.$errorMessages.minSize">Image cannot have a height over 20MB</div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>