<pp-menu-admin></pp-menu-admin>
<div layout="row" layout-wrap flex="66" layout-align="center center">
	<md-list>
	  <md-list-item class="md-2-line" ng-repeat="user in admin.users">
	    <div class="md-list-item-text" layout="row" layout-wrap>
	      <div flex="66">
	      	<h3>{{user.name}}</h3>
	      	<p>{{user.email}}</p>
	      	<p>{{(user.status == 'active') ? 'Actived User' : 'Suspended User'}}</p>
	      </div>
	      <div flex="33">
	      	<md-button class="md-warn" ng-click="admin.suspend(user._id, user.status)">{{(user.status == 'active') ? 'Suspend' : 'Enable'}}</md-button>
	      </div>
	    </div>
	  </md-list-item>
	</md-list>
</div>
<div layout="row" layout-wrap flex="66" layout-align="center center">
	<pagination count="admin.count" take="admin.filter.limit" activate="admin.changePage"></pagination>
</div>
