<div class="pp-card-toolbar">
    <div class="pp-card-tools" layout="row" layout-align="space-between center">
        <span class="md-subtitle">Overall rating</span>
        <md-button class="md-icon-button" ng-click="toggleRankingInfo()" aria-label="Ranking Information">
            <i class="material-icons">info</i>
            <md-tooltip md-direction="left">Ranking Information</md-tooltip>
        </md-button>
    </div>
</div>
<md-divider></md-divider>
<md-card-content class="rating-info ng-hide" ng-hide="rankingToggle">

    Everyone starts off at a ranking of 0. As you complete jobs, you will we be competing against the person who did that same job before you and the person who does the job after you. If you beat the other users scores, your ranking will increase based on the Trueskill ranking algorithm. Keep attending tastings and outperforming other users when you complete jobs and your ranking will keep going up. If another user beats you, your ranking will go down slightly, so do your best. Good luck!
</md-card-content>
<md-divider ng-hide="rankingToggle"></md-divider>
<md-card-content>
    <h3 class="rating-number" ng-click="toggleRankingDetails()">{{ user.overallSkill | number:0 }}</h3>
</md-card-content>
<md-divider ng-show="rankingDetails"></md-divider>
<md-card-content>
    <div class="rating-details" ng-show="rankingDetails">
        <h4 class="md-subtitle">Rating Breakdown</h4>
        <div ng-repeat="(key, value) in terms">
            <strong>{{key}}</strong>
            <ul ng-repeat="subs in value | orderBy:'sanitization'">
                <li class="text-small">{{subs.sanitization}}<span>{{subs.overallSkill | number: 0}}</span></li>
            </ul>
        </div>
    </div>


</md-card-content>
