.profile-container {
    padding: 8px;
    margin: 0 auto;
    max-width: 1279px;
}

.card-action-button {
    min-width: auto;
}

.c3 svg {
    width: 100%;
}

.aog {
    width: 100px;
    height: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.aog-small {
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.business-autocomplete {
    .aog-mini {
        display: inline-block;
        margin: 10px 10px 0 0;
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        border-radius: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }
    span {
        display: inline-block;
        vertical-align: top;
    }
}

.akt,
.akt:hover,
.akt:focus {
    color: inherit;
    text-decoration: inherit;
}

.aoh {
    list-style: none;
    padding: 0;
}

.aoi {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #d4dbe0;
}

.aoi:last-child {
    border-right: 0;
}

.alh {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.alc {
    margin-top: 0 !important;
}

.tc li {
    margin-bottom: 3px;
}

.alk {
    margin-right: 20px !important;
}

.amk {
    padding: 20px !important;
    margin-top: 0;
}

.all {
    margin-bottom: 20px !important;
}

.alc {
    margin-top: 0 !important;
}

.anw .anz {
    margin-top: 5px;
}

.aoj a {
    margin-left: 5px;
}

.panel-button {
    margin: 8px 0 0 0;
}

.panel-heading {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-title {
    margin-bottom: 5px;
}

ui-view.sub-view {
    padding: 0;
}

.anw {
    width: 100%;
}

.pencil {
    position: absolute;
    right: -20px;
}

.edit {
    display: inline-block;
    position: relative;
}

.sub-view-container {
    position: relative;
    overflow: hidden;
    min-height: 500px;
    padding-right: 0;
    padding-left: 0;
}

.sub-view {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.sub-view.ng-enter,
.sub-view.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}

.sub-view.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}

.sub-view.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}

.sub-header {
    margin-top: 0;
    display: inline-block;
}

.opportunity-count {
    text-align: center;
    width: 100%;
    display: block;
}

.view-profile {
    width: 100%;
}

.back-btn {
    display: inline-block;
    line-height: 34px;
    vertical-align: top;
    margin-right: 10px;
    cursor: pointer;
}

.panel-default>.cover-image {
    color: #1e3948;
    background-color: #c3c3c3;
    border-color: #d3e0e9;
}

.editable-buttons {
    display: block;
    margin-top: 10px;
}

.save-btn {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: #1d9400;
    text-transform: uppercase;
    font-size: 10.5px;
}

.position-list-item {
    border-radius: none;
    border: none;
    border-top: 1px solid #ddd;
    padding: 10px !important;
    &:first-child {
        border: none;
        border-radius: 0;
    }
}

.media-heading.title {
    margin-bottom: 20px;
}

.media-heading .subtitle {
    margin-bottom: 0;
}

.profile-businesses-thumb-container {
    height: 40px;
    width: 40px;
    text-align: center;
}

.profile-businesses-thumb {
    max-height: 40px;
    max-width: 40px;
    border-radius: 2px;
    margin: 8px 8px 8px 0;
}

.product-img-container {
    display: inline-block;
    width: 40px;
    text-align: center;
    margin: 8px 8px 8px 0;
}

.product-img {
    max-height: 40px;
    max-width: 40px;
}

.add-subpro-btn {
    vertical-align: top;
}

.add-btn {
    margin-left: -15px;
    margin-bottom: -15px;
    width: ~"calc(100% + 30px)";
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.star-rating {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    .star {
        line-height: 1;
        padding: 1px;
        color: #ddd;
        text-shadow: .05em .05em #aaa;
        list-style-type: none;
        display: inline-block;
        cursor: pointer;
        &:hover {
            position: relative;
            top: -2px;
        }
        &.filled md-icon {
            color: #fd0;
        }
    }
    &.readonly .star.filled md-icon {
        color: #666;
    }
}

.fill_resource_select {
    min-height: 234px;
}

.profile-business-card,
.profile-list-card {
    padding: 0;
}

.profile-image-container {
    position: relative;
}

.profile-image-container {
    position: relative;
    .photo-upload {
        position: absolute;
        left: ~"calc(50% - 26px)";
        top: -36px;
        cursor: pointer;
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
    }
    &:hover {
        .photo-upload {
            opacity: 1;
        }
    }
}

.cover-image {
    background-color: @dark-grey;
    .photo-upload {
        margin-top: 5px;
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
    }
    &:hover {
        .photo-upload {
            opacity: 1;
        }
    }
}

.sponsor {
    display: block;
    margin-bottom: 15px;
}

.res-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 300px;
}

.rating-number {
    font-size: 72px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    color: @main-green;
}

.rating-info {
    overflow:hidden;
    text-align: center;
    margin-top: 15px;
    opacity:1;
    max-height: 1200px;
    i {
        vertical-align: bottom;
    }
}

.rating-info.ng-hide-add.ng-hide-add-active,
.rating-info.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.rating-info.ng-hide {
    overflow:hidden;
  opacity:0;
  max-height: 0;
}

.rating-details {
    overflow: hidden;
    opacity: 1;
    max-height: 2000px;
    ul {
        list-style-type: none;
        margin-top: 0;
        padding-left: 0;
        li {
            margin-top:5px;
            span {
                margin-left:5px;
                color:@main-green;
            }
        }
    }
}

.rating-details.ng-hide-add.ng-hide-add-active,
.rating-details.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s, max-height ease-in-out 0.6s;
    ul {
        -webkit-transition:all linear 0.5s;
        transition:all linear 0.5s;
    }
}

.rating-details.ng-hide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.view-all-events {
    display: block;
    margin: 8px 0;
    margin-left: 15px;
}

.invite-input {
    margin: 15px;
}

md-card.feed-item md-card-title md-card-title-text:only-child .md-subhead {
    padding-top: 0;
}

.feed-avatar {
    width: 40px;
    height: 40px;
    border-radius: 2px !important
}

.feed-item-image {
    max-height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.event-resource-list md-progress-linear {
    margin-top: 10px;
}

.carousel {
    width: 100%;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    padding: 0;
    position: relative;
    &-list {
        width: 100%;
        height: 275px;
        margin: 0 auto;
        .upload-preview {
            user-select: none;
            .thumb {
                pointer-events: none;
                box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
                border: 3px solid #fff;
            }
        }
    }
}

.rn-carousel-control.rn-carousel-control-next:before,
.rn-carousel-control.rn-carousel-control-prev:before {
    position: relative;
    top: 3pt;
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.4em;
    height: 0.4em;
    border-top: 0.2em solid @dark-grey;
    &:hover {
        border-color: #ccc;
    }
    &:focus {
        outline: none;
    }
}

.rn-carousel-control.rn-carousel-control-next:before {
    border-right: 0.2em solid @dark-grey;
    margin-right: 0.5em;
    transform: rotate(45deg);
}

.rn-carousel-control.rn-carousel-control-prev:before {
    border-left: 0.2em solid @dark-grey;
    margin-left: 0.5em;
    transform: rotate(-45deg);
}

div.rn-carousel-indicator span {
    cursor: pointer;
    color: #ccc;
    &.active {
        color: @dark-grey;
    }
}

.upload {
    padding: 8px;
    &-box {
        margin: 8px;
    }
    &-control {
        padding: 0;
    }
    &-preview {
        position: relative;
        display: inline-block;
        width: 200px;
        margin: 8px;
        .thumb {
            max-width: 200px;
            max-height: 200px;
        }
        .cancel {
            position: absolute;
            top: 0;
            right: 15px;
            margin: 0;
            padding: 0;
            height: 24px !important;
            width: 24px;
            line-height: 24px;
            min-height: 24px;
        }
        .review {
            position: absolute;
            top: 0;
            right: 15px;
        }
        .write-review {
            margin-top: 10%;
        }
        .edit {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            height: 24px !important;
            width: 24px;
            line-height: 24px;
            min-height: 24px;
        }
        p {
            margin: 0;
            height: 19px;
        }
    }
}

.md-button.prev,
.md-button.next {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    @media @MQ-xs {
        display: none !important;
    }
}

.md-button.prev {
    left: 0;
    z-index: 1;
}

.md-button.next {
    right: 0;
}

md-card md-card-header md-card-avatar {
    margin-right: 10px;
}

.business-employees,
.business-products {
    md-list {
        padding: 0;
        md-list-item {
            padding: 8px 0;
        }
    }
}

.rate-users-list .md-list-item-text span,
.rate-users-list .md-list-item-text small {
    line-height: 14px;
}

@media only screen and (max-width:991px) {
    .sub-view-container {
        min-height: 0;
    }
}
