<div class="pp-margin pp-padding" layout="row" layout-align="space-between center">
    <md-button ng-if="isUser" class="md-primary pp-margin-none" ui-sref="business.main">
        <i class="material-icons back">keyboard_arrow_left</i> Back
    </md-button>
    <span class="md-display-0">Employees</span>
</div>
<md-card ng-if="user.employees.length">
    <md-card-content class="profile-business-card">
        <md-list>
            <md-list-item class="pp-margin-none" ng-repeat="employee in user.employees track by employee._id">
                <img class="profile-businesses-thumb" ng-src="{{ employee.user.image }}">
                <div class="pp-multi-line pp-padding pp-width-full">
                    <a ng-href="{{ employee.user.slug }}" class="pp-link">{{ employee.user.name }}</a>
                </div>
                <md-button class="md-warn pp-margin-none" ng-click="remove($event, employee)">
                    Remove
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
<md-card ng-if="!user.employees.length">
    <md-card-content>
        <span class="md-subhead">No employees yet.</span>
    </md-card-content>
</md-card>
