<div class="profile-container" layout-sm="column" layout-gt-sm="row" layout-fill>
    <div flex layout="column">
        <!-- Left Sidebar -->
        <md-card ng-include="'cards/business-user.html'"></md-card>
        <!-- Events moved to top of list if mobile view -->
        <!-- <md-card hide-gt-sm ng-if="isUser && user.tastings.length" ng-include="'cards/business-tastings.html'"></md-card>
        <md-card hide-gt-sm ng-if="isUser && user.competitions.length" ng-include="'cards/business-competitions.html'"></md-card> -->
        <md-card hide-gt-sm ng-if="isUser && user.rateResources.length" ng-include="'cards/business-rate-users.html'"></md-card>
        <!-- <md-card hide-gt-sm ng-if="isUser && user.pendingTastings.length" ng-include="'cards/business-pending-tastings.html'"></md-card>
        <md-card hide-gt-sm ng-if="isUser && user.pendingCompetitions.length" ng-include="'cards/business-pending-competitions.html'"></md-card> -->
        <md-card hide-gt-sm ng-if="showAds" ng-include="'cards/business-dart.html'"></md-card>
        <md-card ng-class="{'md-warn-border': !user.address1}" ng-include="'cards/business-address.html'"></md-card>
        <md-card ng-if="isUser" ng-include="'cards/business-employees.html'"></md-card>
        <md-card ng-if="isUser" ng-include="'cards/business-reviews.html'"></md-card>
    </div>
    <ui-view flex-gt-sm="50" flex-sm="auto" layout="column"></ui-view>
    <div flex layout="column">
        <!-- Right Sidebar -->
        <!-- Events moved to right sidebar if desktop view -->
        <!-- <md-card hide show-gt-sm ng-if="isUser && user.pendingCompetitions.length" ng-include="'cards/business-pending-competitions.html'"></md-card>
        <md-card hide show-gt-sm ng-if="isUser && user.pendingTastings.length" ng-include="'cards/business-pending-tastings.html'"></md-card>
        <md-card hide show-gt-sm ng-if="isUser && user.tastings.length" ng-include="'cards/business-tastings.html'"></md-card>
        <md-card hide show-gt-sm ng-if="isUser && user.competitions.length" ng-include="'cards/business-competitions.html'"></md-card> -->
        <md-card hide show-gt-sm ng-if="isUser && user.rateResources.length" ng-include="'cards/business-rate-users.html'"></md-card>
        <md-card hide show-gt-sm ng-if="showAds" ng-include="'cards/business-dart.html'"></md-card>
    </div>
</div>
