<div  class="profile-container" layout-sm="column" layout-gt-sm="row" layout-padding>
    <div layout="column" flex="100">
        <span class="md-headline" layout-padding>Contact Us</span>
        <md-card>
            <md-card-content layout-gt-xs="row" layout-xs="column" layout-align="space-between center">
                <div flex>
                    <h3>Speed Contractor</h3>
                    <md-button class="md-primary" href="mailto:support@speedcontractor.com">support@speedcontractor.com
                    </md-button>
                </div>
                <div layout-margin layout-padding >
                    <img class="pin-icon" src="i/map-pin.svg">
                </div>
            </md-card-content>
        </md-card>
        <div flex layout-gt-xs="row" layout-xs="column">
            <md-card flex-gt-xs="45" flex-xs="1">
                <md-card-content layout="column" layout-margin layout-padding>
                    <md-subheader ng-if="resultType.error" class="md-warn">{{resultOutput}}</md-subheader>
                    <md-subheader ng-if="resultType.success">{{resultOutput}}</md-subheader>

                    <form name="contactForm" role="form" ng-submit="contact.submit()">
                        <!-- First Name -->
                        <md-input-container class="md-block">
                            <label>Name</label>
                            <input class="md-primary" ng-model="contact.formData.name" ng-maxlength="25" type="text" autofocus name="name" required />
                            <div ng-if="contactForm.$submitted" ng-messages="contactForm.name.$error">
                                <div ng-message="required">Name is required.</div>
                                <div ng-message="minlength, maxlength">Name must be between 1 and 25 characters.</div>
                            </div>
                        </md-input-container>

                        <!-- Email Address -->
                        <md-input-container class="md-block">
                            <label>Email Address</label>
                            <input class="md-primary" type="email" ng-model="contact.formData.email" maxlength="75" name="email" autocapitalize="off" autocorrect="off" required />
                            <div ng-if="contactForm.$submitted" ng-messages="contactForm.email.$error">
                                <div ng-message="required">Email address is required.</div>
                            </div>
                        </md-input-container>

                        <!-- Subject -->
                        <md-input-container class="md-block">
                            <label>Subject</label>
                            <input class="md-primary" ng-model="contact.formData.subject" type="text" maxlength="100" name="subject" required/>
                            <div ng-if="contactForm.$submitted" ng-messages="contactForm.subject.$error">
                                <div ng-message="required">Subject is required.</div>
                            </div>
                        </md-input-container>

                        <!-- Message -->
                        <md-input-container class="md-block">
                            <label>Message</label>
                            <textarea class="md-primary" ng-model="contact.formData.inputMessage" rows="5" type="text" md-maxlength="1000" name="inputMessage" required></textarea>
                            <div ng-if="contactForm.$submitted" ng-messages="contactForm.inputMessage.$error">
                                <div ng-message="required">Message is required.</div>
                            </div>
                        </md-input-container>

                        <md-button type="submit" ng-disabled="submitButtonDisabled" class="md-raised md-primary">Submit</md-button>
                    </form>
                </md-card-content>
            </md-card>
            <md-card class="map-container" flex>
                <md-card-content flex layout-fill class="pp-relative">
                    <iframe
                        frameborder="0"
                        style="border:0;width:100%;height:100%"
                        src="https://www.google.com/maps/embed/v1/place?q=43.617745%2C%20-116.199668&key=AIzaSyCes-rujRiX4ebo7RVwCOkt8TNgFKkrFu0"
                        allowfullscreen>
                    </iframe>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
